body {
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
}

.ingredientButton { 
    width: 200px;
    height: 50px;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 12px;
}

.ingredientButton-wrapper {
    width: 50%;
}

.substituteButton { 
    width: 175px;
    height: 1%;
    table-layout: fixed;
    border-collapse: collapse; 
}

.instructions {
    display:inline-block;
    width: 85%;
    color: black;
}

.link-btn {
    color: orange;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}

.link-btn:hover {
    color: green;
    text-decoration: none;
}

.box-text {
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 600px;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 12px;
    margin: 0;
    background-color: #E9E9E9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-text:empty {
    display: none;
}

.box-text2 {
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 60%;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 12px;
    margin: 0;
    background-color: #E9E9E9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-text2:empty {
    display: none;    
}

.title {
    font-family: "Comic Sans MS";
    color: #FDB82F;
    text-shadow: 2px 2px 4px #FCC942;
}

.smaller-title {
    font-family: "Comic Sans MS";
    color: green;
    text-shadow: 2px 2px 4px #BBC0B9;
}

.smaller-title2 {
    font-family: "Comic Sans MS";
    color: #F1A0DD !important;
    text-shadow: 2px 2px 4px #BBC0B9;
}

.left-bg{
    background-color: #FFD54B;
    width: 20%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.right-bg{
    background-color: #FFD54B;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 80%;
}