body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.ingredientButton { 
    width: 175px;
    height: 1%;
    table-layout: fixed;
    border-collapse: collapse; 
}

.instructions {
    display:inline-block;
    width: 60%;
    color: black;
}

.link-btn {
    color: orange;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}

.link-btn:hover {
    color: green;
    background: #6ab8be;
    text-decoration: none;
}