<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form method="post" >
      <input style="resize:none" name="recipeName" class="form-control" placeholder="Recipe Name" rows="4"></input>
      <input style="resize:none" name="recipeUrl" class="form-control" placeholder="Url" row="4"></input>
      <br/>
      <center><button type="submit" class="btn btn-primary"> Fetch </button></center>
    </form>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
      <div id="recipeName" class="panel-body">
        Recipe Name: {{ recipeName }}
      </div>
      <div id="recipeUrl" class="panel-body">
        Recipe Url: {{ recipeUrl }}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
      <div id="recipe" class="panel-body">
        <center> Recipe Info: </center>
        <br/>
        <center> {{ recipe }} </center>
      </div>
    </div>
  </div>
</div>